* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #3366ff;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

#container {
	width: 40%;
	height: auto;
	border: 2px solid #fff;
	margin: 5% auto;
	padding: 5%;
	border-radius: 5%;
}

#output {
	width: 80%;
	height: 30vh;
	background-color: #fff;
	margin: 5% auto 0 auto;
	border-radius: 5%;
	text-align: center;
	font-size: 180px;
	text-transform: uppercase;
}

input {
	width: 80%;
	height: 5vh;
	display: block;
	margin: 5% auto;
	border-radius: 5%;
	font-size: 1.2em;
}

button {
	width: 50%;
	height: 8vh;
	display: block;
	margin: 5% auto;
	border-radius: 5%;
	background-color: #0000ff;
	color: #fff;
	font-size: 1.3em;
}